@import 'tailwindcss';

:root {
  --background: #faf9f9;
  --text: #2f3e46;
  --cta-primary: #83c5be;
  --cta-primary-hover: #006d77;
  --cta-secondary: #ffd6ba;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #555b6e;
  }
} */

@theme {
  --color-background: var(--background);
  --color-cta-primary: var(--cta-primary);
  --color-cta-primary-hover: var(--cta-primary-hover);
  --color-cta-secondary: var(--cta-secondary);
}

body {
  background: var(--background);
  color: var(--text);
}
